.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box___9T78H {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: kG-3XofEOtM03y */;
}
.box___96JFl {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box___96JFl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.box___96JFl > :global(.__wab_flex-container) > *,
.box___96JFl > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___96JFl {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___96JFl > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___96JFl > :global(.__wab_flex-container) > *,
  .box___96JFl > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__bHiXt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.box__bHiXt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__bHiXt > :global(.__wab_flex-container) > *,
.box__bHiXt > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.iconLink___2IAgZ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__qrjj {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.box___2Hsao {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__fLeD {
  color: #535353 /* plasmic-token: mA9IlrTQiRFLz3 */;
}
.root .link__fLeD:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__bqm8J {
  position: relative;
}
.link__lVcB {
  position: relative;
  color: #535353 /* plasmic-token: mA9IlrTQiRFLz3 */;
}
.root .link__lVcB:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__bTafa {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__bTafa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__bTafa > :global(.__wab_flex-container) > *,
.box__bTafa > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__bTafa {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__bTafa > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__bTafa > :global(.__wab_flex-container) > *,
  .box__bTafa > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__bzJws {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__bzJws > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__bzJws > :global(.__wab_flex-container) > *,
.box__bzJws > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__yhiJp {
  position: relative;
  font-weight: 700;
}
.link__mbHnC {
  position: relative;
  color: #535353 /* plasmic-token: mA9IlrTQiRFLz3 */;
}
.root .link__mbHnC:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__gLt0 {
  position: relative;
  color: #535353 /* plasmic-token: mA9IlrTQiRFLz3 */;
}
.root .link__gLt0:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__f2HoL {
  position: relative;
  color: #535353 /* plasmic-token: mA9IlrTQiRFLz3 */;
}
.root .link__f2HoL:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__ykUXy {
  position: relative;
  color: #535353 /* plasmic-token: mA9IlrTQiRFLz3 */;
}
.root .link__ykUXy:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__rDfp1 {
  position: relative;
  color: #535353 /* plasmic-token: mA9IlrTQiRFLz3 */;
}
.root .link__rDfp1:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__chv5I {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__chv5I > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__chv5I > :global(.__wab_flex-container) > *,
.box__chv5I > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__dubvI {
  position: relative;
  font-weight: 700;
}
.link__vGoDk {
  position: relative;
  color: #535353 /* plasmic-token: mA9IlrTQiRFLz3 */;
}
.root .link__vGoDk:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__y13Pe {
  position: relative;
  color: #535353 /* plasmic-token: mA9IlrTQiRFLz3 */;
}
.root .link__y13Pe:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__yEb6H {
  position: relative;
  color: #535353 /* plasmic-token: mA9IlrTQiRFLz3 */;
}
.root .link__yEb6H:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__rw31Q {
  position: relative;
  color: #535353 /* plasmic-token: mA9IlrTQiRFLz3 */;
}
.root .link__rw31Q:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__ml2Ai {
  position: relative;
  color: #535353 /* plasmic-token: mA9IlrTQiRFLz3 */;
}
.root .link__ml2Ai:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__hoc6X {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__hoc6X > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__hoc6X > :global(.__wab_flex-container) > *,
.box__hoc6X > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__zx622 {
  position: relative;
  font-weight: 700;
}
.link__ofspb {
  position: relative;
  color: #535353 /* plasmic-token: mA9IlrTQiRFLz3 */;
}
.root .link__ofspb:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___0Zd1B {
  position: relative;
  color: #535353 /* plasmic-token: mA9IlrTQiRFLz3 */;
}
.root .link___0Zd1B:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__nKnwD {
  position: relative;
  color: #535353 /* plasmic-token: mA9IlrTQiRFLz3 */;
}
.root .link__nKnwD:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__sHMr1 {
  position: relative;
  color: #535353 /* plasmic-token: mA9IlrTQiRFLz3 */;
}
.root .link__sHMr1:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__wkgDi {
  position: relative;
  color: #535353 /* plasmic-token: mA9IlrTQiRFLz3 */;
}
.root .link__wkgDi:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__gRjTr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.box__gRjTr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__gRjTr > :global(.__wab_flex-container) > *,
.box__gRjTr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__vlIft {
  position: relative;
  font-weight: 700;
}
.box___88YUr {
  position: relative;
}
.box__gvCz5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  border-radius: 5px;
  border: 1px solid rgb(228, 230, 235) /* plasmic-token: 4QM1pZKqI */;
}
.textbox {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  min-width: 0;
  border-width: 0px;
}
.button {
  position: relative;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-left-style: solid;
}
.box__vdwgu {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: kG-3XofEOtM03y */;
}
.box__rPu8U {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__rPu8U {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__rPu8U > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__rPu8U > :global(.__wab_flex-container) > *,
  .box__rPu8U > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.box__tE7R {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link___0Stmo {
  position: relative;
  color: #535353 /* plasmic-token: mA9IlrTQiRFLz3 */;
  height: auto;
}
.root .link___0Stmo:hover {
  text-decoration-line: underline;
}
.link___5VYfr {
  position: relative;
  color: #535353 /* plasmic-token: mA9IlrTQiRFLz3 */;
}
.root .link___5VYfr:hover {
  text-decoration-line: underline;
}
.box__y0NHr {
  position: relative;
  height: auto;
  width: auto;
  display: inline-block;
}
.box__qjK9M {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__qjK9M > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__qjK9M > :global(.__wab_flex-container) > *,
.box__qjK9M > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.iconLink__oyltA:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__gsb2Y {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__gsb2Y:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__qiaSq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___1VgcN {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg___1VgcN:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink___1HgOu:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__xqGT {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__xqGT:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
